<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Edu+SA+Beginner:wght@400..700&family=GFS+Neohellenic:ital,wght@0,400;0,700;1,400;1,700&family=M+PLUS+2:wght@100..900&family=Maven+Pro:wght@400..900&family=Ovo&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Rubik+Doodle+Shadow&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Luckiest+Guy&family=Rubik+Doodle+Shadow&family=Unbounded:wght@200..900&display=swap" rel="stylesheet">
    
    <title>Inicio</title>
</head>
<body>

    <div class="hero-section">
    <div class="ola" style="height: 740px; overflow: hidden;">
        <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-18.34,92.28  207.38,71.55 500.27,110.05 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #7366ff;"></path>
        </svg>
        <!-- <svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;">
            <path d="M-18.34,92.28 C175.22,179.13 207.38,71.55 500.27,110.05 L500.00,0.00 L0.00,0.00 Z" style="stroke: none; fill: #7366ff;"></path>
        </svg> -->
    </div>

    <h1 class="titulo1">JÓVENES TALENTO</h1>

    
    <section class="fondoPrincipal">
        <img src="assets/images/index.png" width="500px" height="300px">
    </section>
</div>
    <h1 class="tituloIndex">Lo que hacemos</h1>

    <section class="seccion1">
        <div class="textoIndex">
            Jóvenes Talento se encarga de buscar oportunidades para los jóvenes en el entorno empresarial, 
            conectando el talento emergente con las empresas que buscan innovación y creatividad. 
            Construimos puentes entre la educación y el mundo profesional.
        </div>
        <div class="imagen1">
            <img src="/assets/images/faq/connecting-talents.png" alt="Lo que hacemos">
        </div>
    </section>
    

    <h1 class="tituloIndex2">Cómo lo hacemos</h1>

    <section class="seccion2">
        <div class="imagen2">
            <img src="/assets/images/faq/growth-process.png" alt="Cómo lo hacemos">
        </div>
        <div class="textoIndex2">
            Como se menciona anteriormente, Jóvenes Talento se encarga de mediar entre las empresas
            y los jóvenes talentos, creando oportunidades únicas de desarrollo profesional y crecimiento
            personal. Facilitamos el encuentro entre la experiencia y la innovación.
        </div>
    </section>

    <div class="textoGrande">
        ¡Tú también puedes ser parte de este proyecto, da tu primer paso en un reto y asiste a las sesiones para crear tu propio camino empresarial!
    </div>


</body>
</html>
