<app-breadcrumb [title]="'Instituciones'" [items]="['Apps']" [active_item]="'Instituciones'"></app-breadcrumb>

<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Instituciones</h5>
        </div>
        <div class="card-body custom-datatable noscroll">
          <div class="custom-datatable table-responsive">
            <div class="file-content">
              <div class="card-header">
                <div class="media">
                  <form class="form-inline" action="#" method="get">
                    <div class="form-group mb-0 text-end">
                      <i class="fa fa-search"></i>
                      <input class="form-control-plaintext" type="text" placeholder="Buscar..." [(ngModel)]="searchTerm"
                        (input)="onSearchTermChange()" />
                    </div>
                  </form>
                  <div class="media-body text-end">
                    <button class="btn btn-pill btn-primary" type="button" (click)="Crear(createModal)">Registrar
                      Institución</button>
                  </div>
                </div>
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col" sortable="nombre" (sort)="onSort($event)">Nombre</th>
                  <th scope="col" sortable="rector" (sort)="onSort($event)">Rector</th>
                  <th scope="col" sortable="numeroContacto" (sort)="onSort($event)">Teléfono</th>
                  <th scope="col" sortable="estadoid.nombre" (sort)="onSort($event)">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableItem$ | async">
                  <td>
                    <ngb-highlight [result]="item.nombre" [term]="searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.rector" [term]="searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.numeroContacto" [term]="searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.estadoid.nombre" [term]="searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <div class="action">
                      <ul class="action-icons">
                        <li class="edit">
                          <a (click)="Editar(content1, item)">
                            <span class="icon-circle">
                              <i class="fa fa-pencil-square-o"></i>
                            </span>
                          </a>
                        </li>
                        <li class="status">
                          <a (click)="withConfirmation(item)">
                            <span class="icon-circle">
                              <i class="icofont icofont-retweet"></i>
                            </span>
                          </a>
                        </li>

                      </ul>
                    </div>
                  </td>

                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between mt-3">
              <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
              <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page"
                [pageSize]="service.pageSize"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar Institución</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="createNombre">Nombre<span class="red-asterisk">*</span></label>
              <input class="form-control" id="createNombre" type="text" placeholder="Nombre"
                [(ngModel)]="newInstitucion.nombre" name="nombre" required
                [ngClass]="{ 'is-invalid': errorMessages?.nombre }" />
              <div *ngIf="errorMessages?.nombre" class="invalid-feedback">
                {{ errorMessages.nombre }}
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="createRector">Rector<span class="red-asterisk">*</span></label>
              <input class="form-control" id="createRector" type="text" placeholder="Rector"
                [(ngModel)]="newInstitucion.rector" name="rector" required
                [ngClass]="{ 'is-invalid': errorMessages?.rector }" />
              <div *ngIf="errorMessages?.rector" class="invalid-feedback">
                {{ errorMessages.rector }}
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="createNumeroContacto">Número de contacto<span
                  class="red-asterisk">*</span></label>
              <input class="form-control" id="createNumeroContacto" type="number" placeholder="Número de contacto"
                [(ngModel)]="newInstitucion.numeroContacto" name="numeroContacto" required
                [ngClass]="{ 'is-invalid': errorMessages?.numeroContacto }" />
              <div *ngIf="errorMessages?.numeroContacto" class="invalid-feedback">
                {{ errorMessages.numeroContacto }}
              </div>
            </div>
            <!-- <div class="col-md-6">
              <label class="form-label" for="createJovenesActivos">Jóvenes Activos</label>
              <input class="form-control" id="createJovenesActivos" type="number" placeholder="Jóvenes Activos"
                [(ngModel)]="newInstitucion.jovenesActivos" name="jovenesActivos" required />
              <div class="invalid-feedback">Por favor, ingresa un número válido.</div>
            </div> -->
            <div class="col-md-6">
              <label class="form-label" for="createEmpleado">Facilitador<span class="red-asterisk">*</span></label>
              <select class="form-select" id="createEmpleado" [(ngModel)]="newInstitucion.empleadoid" name="empleadoid" required>
                <option *ngFor="let empleado of empleados" [ngValue]="empleado.id">{{ empleado.nombre }}</option>
              </select>
              <div class="invalid-feedback">Por favor, selecciona un Empleado.</div>
            </div>
          </div>
          <!-- <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="createJovenesEgresados">Jóvenes Egresados</label>
              <input class="form-control" id="createJovenesEgresados" type="number" placeholder="Jóvenes Egresados"
                [(ngModel)]="newInstitucion.jovenesEgresados" name="jovenesEgresados" required />
              <div class="invalid-feedback">Por favor, ingresa un número válido.</div>
            </div>

          </div> -->
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" (click)="modal.dismiss('cancel')">Cerrar</button>
      <button class="btn btn-primary" type="button" (click)="createInstitucion(modal)">Guardar</button>
    </div>
  </div>
</ng-template>
<ng-template #content1 let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Institución</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="editNombre">Nombre<span class="red-asterisk">*</span></label>
              <input class="form-control" id="editNombre" type="text" placeholder="Nombre"
                [(ngModel)]="selectedInstitucion.nombre" name="nombre" required
                [ngClass]="{ 'is-invalid': errorMessages?.nombre }" />
              <div *ngIf="errorMessages?.nombre" class="invalid-feedback">
                {{ errorMessages.nombre }}
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label" for="editRector">Rector<span class="red-asterisk">*</span></label>
              <input class="form-control" id="editRector" type="text" placeholder="Rector"
                [(ngModel)]="selectedInstitucion.rector" name="rector" required
                [ngClass]="{ 'is-invalid': errorMessages?.nombre }" />
              <div *ngIf="errorMessages?.rector" class="invalid-feedback">
                {{ errorMessages.rector }}
              </div>
            </div>
          </div>
          <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="editNumeroContacto">Número de contacto<span
                  class="red-asterisk">*</span></label>
              <input class="form-control" id="editNumeroContacto" type="number" placeholder="Número de contacto"
                [(ngModel)]="selectedInstitucion.numeroContacto" name="numeroContacto" required
                [ngClass]="{ 'is-invalid': errorMessages?.numeroContacto }" />
              <div *ngIf="errorMessages?.numeroContacto" class="invalid-feedback">
                {{ errorMessages.numeroContacto }}
              </div>
            </div>
            <!-- <div class="col-md-6">
              <label class="form-label" for="editJovenesActivos">Jóvenes Activos</label>
              <input class="form-control" id="editJovenesActivos" type="number" placeholder="Jóvenes Activos"
                [(ngModel)]="selectedInstitucion.jovenesActivos" name="jovenesActivos" required />
              <div class="invalid-feedback">Por favor, ingresa un número válido.</div>
            </div> -->
            <div class="col-md-6">
              <label class="form-label" for="editEmpleado">Empleado<span class="red-asterisk">*</span></label>
              <select class="form-select" id="editEmpleado" [(ngModel)]="selectedInstitucion.empleadoid.id"
                name="empleadoid" required [ngClass]="{ 'is-invalid': errorMessages?.nombre }">
                <option *ngFor="let empleado of empleados" [ngValue]="empleado.id">{{ empleado.nombre }}</option>
              </select>
              <div class="invalid-feedback">Por favor, selecciona un empleado válido.</div>
            </div>
          </div>
          <!-- <div class="row g-3">
            <div class="col-md-6">
              <label class="form-label" for="editJovenesEgresados">Jóvenes Egresados</label>
              <input class="form-control" id="editJovenesEgresados" type="number" placeholder="Jóvenes Egresados"
                [(ngModel)]="selectedInstitucion.jovenesEgresados" name="jovenesEgresados" required />
              <div class="invalid-feedback">Por favor, ingresa un número válido.</div>
            </div>

          </div> -->
        </form>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" type="button" (click)="modal.dismiss('cancel')">Cerrar</button>
      <button class="btn btn-primary" type="button" (click)="editInstitucion(modal)">Actualizar</button>
    </div>
  </div>
</ng-template>