<app-breadcrumb [title]="'Roles'" [items]="['Apps']" [active_item]="'Roles'"></app-breadcrumb>
<!-- Container-fluid starts -->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>Roles</h5>
        </div>
        <div class="card-body custom-datatable noscroll">
          <div class="custom-datatable table-responsive">
            <div class="file-content">
              <div class="card-header">
                <div class="media">
                  <form class="form-inline" action="#" method="get">
                    <div class="form-group mb-0 text-end">
                      <i class="fa fa-search"></i>
                      <input class="form-control-plaintext" type="text" placeholder="Buscar..." [(ngModel)]="searchTerm"
                        (input)="onSearchTermChange()" />
                    </div>
                  </form>
                  <div class="media-body text-end">
                    <button class="btn btn-pill btn-primary" type="button" (click)="Crear(createModal)">Registrar
                      Rol</button>
                  </div>
                </div>
              </div>
            </div>

            <table class="table">
              <thead>
                <tr>
                  <th scope="col" sortable="nombre" (sort)="onSort($event)">Nombre</th>
                  <th scope="col" sortable="estado" (sort)="onSort($event)">Estado</th>
                  <th scope="col">Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of tableItem$ | async">
                  <td>
                    <ngb-highlight [result]="item.nombre" [term]="searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <ngb-highlight [result]="item.estadoid.nombre" [term]="searchTerm"></ngb-highlight>
                  </td>
                  <td>
                    <div class="action">
                      <ul class="action-icons">
                      <li class="edit">
                        <a (click)="Editar(editModal, item)">
                          <span class="icon-circle" style="background-color: #ffeeba;">
                            <i class="icon-pencil-alt"></i>
                          </span>
                        </a>
                      </li>
                      <li class="status">
                        <a (click)="cambiarEstado(item)">
                          <span class="icon-circle" style="background-color: #d4edda;">
                            <i class="icofont icofont-retweet"></i>
                          </span>
                        </a>
                      </li>
                      <li class="edit">
                        <a (click)="ver(permisos,item)">
                          <span class="icon-circle" style="background-color: #d4edda;">
                            <i class="fa fa-lock"></i>
                          </span>
                        </a>
                      </li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="d-flex justify-content-between mt-3">
              <select class="form-select" style="width: auto" name="pageSize" [(ngModel)]="service.pageSize">
                <option [ngValue]="2">2 items per page</option>
                <option [ngValue]="4">4 items per page</option>
                <option [ngValue]="6">6 items per page</option>
              </select>
              <ngb-pagination class="ms-3" [collectionSize]="(total$ | async)!" [(page)]="service.page"
                [pageSize]="service.pageSize"></ngb-pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para crear un rol -->
<ng-template #createModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Registrar Rol</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validate }">
          <div class="row g-3">
            <div class="col-md-12">
              <label class="form-label" for="createNombre">Nombre<span class="red-asterisk">*</span></label>
              <input class="form-control" id="createNombre" type="text" placeholder="Nombre"
                [(ngModel)]="newRol.nombre" name="nombre" required />
              <div class="invalid-feedback">Por favor, ingresa un nombre válido.</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cerrar</button>
    <button class="btn btn-primary" type="button" (click)="createRol()">Registrar</button>
  </div>
</ng-template>

<!-- Modal para editar un rol -->
<ng-template #editModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Editar Rol</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body">
        <form class="needs-validation" novalidate [ngClass]="{ 'was-validated': validateEdit }">
          <div class="row g-3">
            <div class="col-md-12">
              <label class="form-label" for="editNombre">Nombre<span class="red-asterisk">*</span></label>
              <input class="form-control" id="editNombre" type="text" placeholder="Nombre"
                [(ngModel)]="selectedRol.nombre" name="nombre" required />
              <div class="invalid-feedback">Por favor, ingresa un nombre válido.</div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Cerrar</button>
    <button class="btn btn-primary" type="button" (click)="editRol()">Actualizar</button>

  </div>
</ng-template>







<!-- Modal para editar un rol -->
<ng-template #permisos let-modal>
  <div class="modal-content">
      <div class="modal-header modal-full-width">
    <h4 class="modal-title" id="modal-basic-title">Permisos</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body modal-full-width">
    <div class="card w-full">
      <div class="card-content">
        <div class="overflow-x-auto">
          <table class="w-full border-collapse">
            <thead>
              <tr class="bg-slate-100">
                <th class="border p-2 text-left">
                  <div class="flex items-center space-x-2">
                    Módulo
                  </div>
                </th>
                <th class="border p-2 text-left">
                  <div class="flex items-center space-x-2">
                    <mat-checkbox
                    >
                      Ver
                    </mat-checkbox>
                  </div>
                </th>
                <th class="border p-2 text-left">
                  <div class="flex items-center space-x-2">
                    <mat-checkbox
                    >
                      Crear
                    </mat-checkbox>
                  </div>
                </th>
                <th class="border p-2 text-left">
                  <div class="flex items-center space-x-2">
                    <mat-checkbox
                    >
                      Actualizar
                    </mat-checkbox>
                  </div>
                </th>
                <th class="border p-2 text-left">
                  <div class="flex items-center space-x-2">
                    <mat-checkbox
                    >
                      Cambiar estado
                    </mat-checkbox>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let module of getModuleKeys()" class="hover:bg-slate-50">
                <td class="border p-2">
                  <div class="flex items-center space-x-2">
                    {{permissionGroups[module]}}
                  </div>
                </td>
                <td class="border p-2">
                  <mat-checkbox
                    [checked]="selectedPermissions['/' + module]"
                    (change)="handlePermissionChange('/' + module)"
                  >
                  </mat-checkbox>
                </td>
                <td class="border p-2">
                  <mat-checkbox
                    [checked]="selectedPermissions['/' + module + '/crear']"
                    (change)="handlePermissionChange('/' + module + '/crear')"
                  >
                  </mat-checkbox>
                </td>
                <td class="border p-2">
                  <mat-checkbox
                    [checked]="selectedPermissions['/' + module + '/actualizar']"
                    (change)="handlePermissionChange('/' + module + '/actualizar')"
                  >
                  </mat-checkbox>
                </td>
                <td class="border p-2">
                  <mat-checkbox
                    [checked]="selectedPermissions['/' + module + '/eliminar']"
                    (change)="handlePermissionChange('/' + module + '/eliminar')"
                  >
                  </mat-checkbox>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer modal-full-width">
    <button class="btn btn-primary" type="button" (click)="permisosedit()">Actualizar</button>
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Cerrar</button>
  </div>
  </div>

</ng-template>
