<div class="page-wrapper">
  <div class="container-fluid p-0">
    <div class="row">
      <div class="col-12">
        <div class="login-card">
          <div>
            <div>
              <a class="logo" routerLink='/'>


              </a>
            </div>
            <div class="login-main">
              <!-- Paso 1: Enviar código de recuperación -->
              <div *ngIf="step === 1">
                <form class="theme-form" (ngSubmit)="onSendRecoveryCode()">
                  <h4>Restablecer contraseña</h4>
                  <div class="form-group">
                    <label class="col-form-label">Ingrese su correo</label>
                    <div class="row">
                      <div class="col-md-12">
                        <input class="form-control mb-1" type="email" [(ngModel)]="correo" name="correo" required>
                      </div>
                      <div class="col-12">
                        <button class="btn btn-primary d-block w-100 m-t-10" type="submit">Enviar</button>
                      </div>
                    </div>
                  </div>
                </form>
                <div class="text-center mt-4 mb-4">
                  <span class="reset-password-link">
                    ¿No recibiste el código? <a class="btn-link text-danger" (click)="onSendRecoveryCode()">Reenviar</a>
                  </span>
                </div>
              </div>

              <!-- Paso 2: Verificar código OTP -->
              <div *ngIf="step === 2">
                <form class="theme-form" (ngSubmit)="onVerifyCode()">
                  <h4>Verificar código OTP</h4>
                  <div class="form-group">
                    <label class="col-form-label pt-0">Ingrese el código OTP</label>
                    <div class="row">
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text" maxlength="2" [(ngModel)]="otpPart1"
                          name="otpPart1" (input)="onInput($event, 'otpPart1')" (paste)="onPaste($event)">
                      </div>
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text" maxlength="2" [(ngModel)]="otpPart2"
                          name="otpPart2" (input)="onInput($event, 'otpPart2')">
                      </div>
                      <div class="col">
                        <input class="form-control text-center opt-text" type="text" maxlength="2" [(ngModel)]="otpPart3"
                          name="otpPart3" (input)="onInput($event, 'otpPart3')">
                      </div>
                    </div>
                  </div>
                  <div class="col-12">
                    <button class="btn btn-primary d-block w-100 m-t-10" type="submit">Verificar</button>
                  </div>
                </form>
                <div class="text-center mt-4 mb-4">
                  <span class="reset-password-link">
                    No recibiste el código? <a class="btn-link text-danger" (click)="onSendRecoveryCode()">Reenviar</a>
                  </span>
                </div>
              </div>

              <!-- Paso 3: Restablecer contraseña -->
              <div *ngIf="step === 3">
                <form class="theme-form" (ngSubmit)="onResetPassword()">
                  <h6 class="mt-4">Crear nueva contraseña</h6>
                  <div class="form-group">
                    <label class="col-form-label">Nueva contraseña</label>
                    <input class="form-control" [type]="show ? 'text' : 'password'" [(ngModel)]="newPassword"
                      name="newPassword" required placeholder="*********">
                    <div class="show-hide" (click)="showPassword()">
                      <span *ngIf="!show"></span>
                      <span *ngIf="show"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-form-label">Repita la nueva contraseña</label>
                    <input class="form-control" [type]="show ? 'text' : 'password'" [(ngModel)]="confirmPassword"
                      name="confirmPassword" required placeholder="*********">
                  </div>
                  <div class="form-group mb-0">
                    <button class="btn btn-primary d-block w-100" type="submit">Restablecer</button>
                  </div>
                </form>
              </div>

              <p class="mt-4 mb-0" *ngIf="step === 1">¿Ya tienes una contraseña?
                <a class="ms-2" [routerLink]="'/auth/login'">Iniciar sesión</a>
              </p>
              <p class="mt-4 mb-0" *ngIf="step === 2">¿Ya tienes una contraseña?
                <a class="ms-2" [routerLink]="'/auth/login'">Iniciar sesión</a>
              </p>
              <p class="mt-4 mb-0" *ngIf="step === 3">¿Ya tienes una contraseña?
                <a class="ms-2" [routerLink]="'/auth/login'">Iniciar sesión</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
